<a href="https://colab.research.google.com/github/kerron3000/spiky-star-one/blob/main/spiky_star_one_cl1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Learning Statements

In [2]:
print ("Hello World")

Hello World

##Variables

In [3]:
var = 1

In [5]:
x =1
y =2

z = x+y

print ("Value if z is ", z)

Value if z is  3

###Data Structures

####List

In [6]:
my_list = [1,2,3]

In [7]:
my_list [1] ##value will be 2

2

####Dictionary

In [8]:
my_dict = {1:"one", 2:"two"}

In [9]:
type (my_dict)

dict

In [10]:
my_dict.keys()

dict_keys([1, 2])

In [11]:
my_dict.values()

dict_values(['one', 'two'])

##Loops

In [12]:
for k,v in my_dict.items():
  print(f"This is my key: {k}")
  print (f"This is my value: {v}")

This is my key: 1
This is my value: one
This is my key: 2
This is my value: two

In [13]:
for i in my_list:
  print (f"This is the value in the list: {i}")

This is the value in the list: 1
This is the value in the list: 2
This is the value in the list: 3